<div>
    <h1>Гадание на картошке</h1>
    <p>Гадание на картошке — это метод предсказаний, основанный на интерпретации форм и рисунков на картофеле. В процессе гадания используются различные методики, от обычных нарезок до вдумчивого анализа деталей.</p>
    <h2>Известные люди, которые увлекаются этим хобби:</h2>
    <ul>
        <li>Эдгар Кейси</li>
        <li>Сильвия Браун</li>
        <li>Тереза Капуто</li>
    </ul>
    <h2>Три фото, посвящённые хобби:</h2>
    <div>
        <img src="././assets/1.jpg" alt="Фото гадания на картошке 1">
        <img src="././assets/2.jpg" alt="Фото гадания на картошке 2">
        <img src="././assets/3.jpg" alt="Фото гадания на картошке 3">
    </div>
</div>